BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: false
BreakBeforeBraces: Custom
BraceWrapping: 
   AfterFunction:         true 
